/node_modules
/vendor
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
public/storage
/storage/app/public
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-journal
